* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* --------Media Mixins-------- */
/* -----------Variables---------- */
/* ------------Global Classes---------- */
a {
  text-decoration: none;
  color: #3f4954;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style-type: none;
}

body .collapse {
  height: 30rem;
}

h1 {
  font-family: Lexend, cursive;
  font-size: 2.5rem;
}

h2 {
  font-family: Lexend, cursive;
}

h3 {
  font-family: Abel, cursive;
  font-size: 1.3rem;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: Livvic, cursive;
  cursor: pointer;
}

span {
  font-family: Abel, cursive;
}

.text-grey {
  color: #3f4954;
}

p {
  font-family: Lexend, cursive;
  color: #686666da;
}

@font-face {
  font-family: Abel;
  src: url("../../fonts/Abel/Abel-Regular.ttf");
}

@font-face {
  font-family: Anton;
  src: url("../../fonts/Anton/Anton-Regular.ttf");
}

@font-face {
  font-family: Josefin;
  src: url("../../fonts/Josefin_Sans/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: Lexend;
  src: url("../../fonts/Lexend_Deca/LexendDeca-Regular.ttf");
}

@font-face {
  font-family: Livvic;
  src: url("../../fonts/Livvic/Livvic-Regular.ttf");
}

@media screen and (min-width: 2000px) {
  body .nav {
    min-height: 6vh;
  }
  body main .site-title {
    height: 90vh;
  }
  body main .site-title .site-backgound {
    margin-top: 11rem;
  }
  body main .blog {
    height: 100vh;
  }
  body main .container {
    margin-top: -40vh;
    width: 60%;
  }
  body .footer .container {
    width: 65%;
  }
  body .footer .move-up {
    right: 30%;
  }
}

@media screen and (max-width: 1199px) {
  body .site-title {
    height: 80vh;
  }
  body .blog {
    height: 90vh;
  }
  body .container .site-content .post-content .post-image .post-info {
    left: 2rem;
    bottom: 1.2rem;
    border-radius: 0;
    padding: 0.6rem;
  }
  body .container .site-content .sidebar .popular-posts .post-content .post-image .post-info {
    display: none;
  }
  body .footer .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  body .nav .nav-menu .nav-items .nav-link {
    font-size: 1.2rem;
    padding: 1.2rem 1rem;
  }
  body main .site-title {
    background-size: cover;
    background-position: bottom;
    height: 100vh;
  }
  body main .site-title .site-backgound {
    padding-top: 12rem;
  }
  body .blog {
    height: 90vh;
  }
  body .site-title {
    height: 60vh;
  }
  body .site-title .site-backgound {
    padding-top: 7rem;
  }
  body .container {
    width: 95%;
  }
  body .container .site-content {
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
  }
}

@media screen and (max-width: 768px) {
  body .nav .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body .nav .nav-menu .nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2.5rem;
  }
  body .nav .nav-menu .toggle-collapse {
    display: initial;
  }
  body main .site-title {
    height: 80vh;
  }
  body .blog {
    margin-top: 0.9rem;
    height: 70vh;
  }
  body .container {
    width: 90%;
  }
  body .container .site-content {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  body .container .site-content .sidebar {
    width: 80%;
    margin: auto;
  }
  body .footer .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  body .footer .move-up {
    top: 2%;
  }
}

@media screen and (max-width: 567px) {
  body .nav {
    padding: 0 1rem;
    min-height: 4rem;
  }
  body main .site-title .site-backgound {
    padding-top: 6rem;
  }
  body main .site-title .site-backgound h1 {
    width: 80%;
    font-size: 2rem;
    text-align: center;
  }
  body main .container .site-content {
    -ms-grid-columns: (100%)[auto-fill];
        grid-template-columns: repeat(auto-fill, 100%);
  }
  body main .container .site-content .post-content .post-image .post-info {
    display: none;
  }
  body main .container .site-content .sidebar {
    width: 90%;
  }
  body main .container .site-content .sidebar .popular-posts .post-content {
    padding: 1rem 0rem;
  }
  body main .container .site-content .sidebar .newsletter .form-element {
    padding: 0.5rem 0;
  }
  body main .container .site-content .sidebar .newsletter .form-element .form-btn {
    padding: 0.8rem 0;
  }
  body main .container .site-content .sidebar .popular-tags .tags .tag {
    font-size: 0.9rem;
    padding: 0.4rem 1.1rem;
  }
  body .footer .container {
    -ms-grid-columns: (100%)[auto-fill];
        grid-template-columns: repeat(auto-fill, 100%);
  }
  body .footer .container div {
    padding: 1rem .9rem;
  }
  body .footer .rights {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 1 1.4rem;
  }
}

/* ------------navbar------------- */
.nav {
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 9vh;
  overflow: hidden;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}

.nav .nav-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .nav-menu .nav-brand a {
  font-size: 1.9rem;
  padding: 1rem 0;
  display: block;
  font-family: Lexend, cursive;
}

.nav .nav-menu .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .nav-menu .toggle-collapse .toggle-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1.8rem 0;
}

.nav .nav-menu .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: #3f4954;
}

.nav .nav-menu .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.nav .nav-menu .nav-items .nav-link {
  padding: 1.3rem 1rem;
  font-size: 1.3rem;
  position: relative;
  font-family: Abel, cursive;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav .nav-menu .nav-items .nav-link:hover {
  background: #104f55;
}

.nav .nav-menu .nav-items .nav-link:hover a {
  color: #fff;
}

.nav .nav-menu .social {
  padding: 1.4rem 0;
}

.nav .nav-menu .social i {
  padding: 0.2em;
  -webkit-transition: .2s;
  transition: .2s;
}

.nav .nav-menu .social i:hover {
  color: #a1c4cf;
}

/* ------------main------------- */
/* ------------Section:site-title------------- */
.site-title {
  background: url("../../img/Background-image.png") no-repeat top;
  background-size: 100%;
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-title .site-backgound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10rem;
  color: #fff;
}

.site-title .site-backgound h1, .site-title .site-backgound h3 {
  margin: .3rem;
}

.site-title .site-backgound .btn {
  margin: 1.8rem;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.site-title .site-backgound .btn:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

/* ------------Section:blog------------- */
.blog {
  background: url("../../img/Abract01.png") no-repeat right;
  height: 100vh;
  width: 100%;
  margin-top: -4rem;
  background-size: 55%;
}

.blog .container {
  width: 85%;
  margin: auto;
}

.blog .container .blog-post {
  padding-top: 18vh;
}

.blog .container .blog-post .blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 4rem;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  background: white;
}

.blog .container .blog-post .blog-content img {
  max-height: 260px;
  image-resolution: cover;
}

.blog .container .blog-post .blog-content .blog-title {
  padding: 2rem 0;
}

.blog .container .blog-post .blog-content .blog-title h3 {
  margin-bottom: 1rem;
}

.blog .container .blog-post .blog-content .blog-title .btn-blog {
  padding: 0.7rem 2rem;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  margin: 0.5rem;
  outline: none;
}

.blog .container .blog-post .blog-content .blog-title span {
  display: block;
}

.blog .container .owl-nav {
  position: absolute;
  top: 10vh;
  margin: 0 auto;
  width: 100%;
}

.blog .container .owl-nav .owl-prev .owl-nav-prev {
  color: #3f4954;
  background: transparent;
  font-size: 2rem;
}

.blog .container .owl-nav .owl-next .owl-nav-next {
  color: #3f4954;
  background: transparent;
  font-size: 2rem;
}

.blog .container .owl-theme .owl-nav [class*='owl-'] {
  outline: none;
}

.blog .container .owl-theme .owl-nav [class*='owl-']:hover {
  background: transparent;
  color: #104f55;
}

/* -------Main Content-------- */
/* ------------Section:site-content------------- */
.container {
  width: 82%;
  margin: auto;
}

.container .site-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 30%;
      grid-template-columns: 60% 30%;
}

.container .site-content .post-content {
  width: 97%;
  margin: .7rem auto;
}

.container .site-content .post-content .post-image, .container .site-content .post-content .post-title {
  padding: 1rem 2rem;
  position: relative;
}

.container .site-content .post-content .post-image div {
  overflow: hidden;
}

.container .site-content .post-content .post-image div .img {
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.container .site-content .post-content .post-image div .img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.container .site-content .post-content .post-image .post-info {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 17vw;
  border-radius: 3rem;
}

.container .site-content .post-content .post-image .post-info span {
  margin: 0 .5rem;
}

.container .site-content .post-content .post-title a {
  font-family: Anton, cursive;
  font-size: 1.5rem;
}

.container .site-content .post-content .post-title p {
  margin-top: 1rem;
}

.container .site-content .post-content .post-title .post-btn {
  margin-top: 1rem;
  border-radius: 0;
  padding: 0.7rem 1.5rem;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  -webkit-transition: .2s;
  transition: .2s;
}

.container .site-content .pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3f4954;
  margin: 3rem 0;
}

.container .site-content .pagination a {
  padding: 0.6rem 0.9rem;
  border-radius: 2rem;
  margin: 0 .3rem;
  font-family: Lexend, cursive;
}

.container .site-content .pagination .page {
  background: #3f4954;
  color: #fff;
}

.container .site-content .sidebar {
  padding-top: 2rem;
}

.container .site-content .sidebar .category-list {
  font-family: Livvic, cursive;
  padding-left: 3rem;
  padding-top: 1rem;
}

.container .site-content .sidebar .category .list-items {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 0.6rem 1.1rem;
  margin: 0.8rem 0rem;
  border-radius: 3rem;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .site-content .sidebar .category .list-items a {
  color: black;
}

.container .site-content .sidebar .popular-posts h2 {
  padding-top: 8rem;
}

.container .site-content .sidebar .popular-posts .post-content {
  padding: 1rem 1rem;
}

.container .site-content .sidebar .popular-posts .post-content .post-image .post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.4rem .1rem;
  bottom: 0rem;
  left: 1.5rem;
  border-radius: 0rem;
  background: #fff;
}

.container .site-content .sidebar .popular-posts .post-content .post-title a {
  font-size: 1rem;
}

.container .site-content .sidebar .newsletter {
  padding-top: 3rem;
}

.container .site-content .sidebar .newsletter .form-element {
  margin-top: 1.5rem;
  padding: 0.5rem 2.5rem;
  margin-left: 1rem;
}

.container .site-content .sidebar .newsletter .form-element .input-element {
  width: 80%;
  height: 3rem;
  padding: 0.3rem 0.7rem;
  font-family: Lexend, cursive;
  font-size: 1.1rem;
}

.container .site-content .sidebar .newsletter .form-element .form-btn {
  width: 80%;
  border-radius: 0;
  padding: 0.8rem 30%;
  margin: 1rem 0;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.container .site-content .sidebar .popular-tags {
  padding: 4rem 0;
}

.container .site-content .sidebar .popular-tags .tags {
  margin-top: 1.5rem;
  width: 80%;
  margin-left: 1rem;
}

.container .site-content .sidebar .popular-tags .tags .tag {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 0.6rem 1.3rem;
  border-radius: 3rem;
  margin: 0.6rem 0.6rem;
}

/* -------Footer-------- */
.footer {
  height: 100%;
  background: #0f0f0f;
  position: relative;
}

.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer .container h2 {
  color: #fff;
}

.footer .container div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  padding: 3rem 0.9rem;
}

.footer .container p {
  margin-top: 1rem;
}

.footer .container .newsletter .form-element {
  display: inline-block;
  padding: 0;
  margin-top: 1rem;
}

.footer .container .newsletter .form-element input {
  padding: 0.5rem 0.7rem;
  border: none;
  background: black;
  color: #fff;
  font-family: Josefine, cursive;
  font-size: 1rem;
  width: 74%;
  outline: none;
}

.footer .container .newsletter .form-element span {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 0.6rem .7rem 0.5rem .7rem;
  margin-bottom: 1px;
  cursor: pointer;
}

.footer .container .instagram .instagram-imgs {
  margin-top: 1rem;
  padding: 0;
}

.footer .container .instagram .instagram-imgs .flex-row {
  padding: 0;
}

.footer .container .instagram .instagram-imgs .flex-row picture {
  width: 60px;
  height: 60px;
  margin: 0.3rem .4rem;
}

.footer .container .instagram .instagram-imgs .flex-row img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.footer .container .follow div {
  padding: 0;
  margin-top: 1rem;
}

.footer .container .follow div i {
  color: #fff;
  padding: 0 0.4rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer .container .follow div i:hover {
  color: #a1c4cf;
}

.footer .rights {
  padding-bottom: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lexend, cursive;
}

.footer .rights h4 a {
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer .rights h4 a:hover {
  color: #a1c4cf;
}

.footer .move-up {
  position: absolute;
  right: 8%;
  top: 50%;
}

.footer .move-up span {
  color: #104f55;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer .move-up span:hover {
  color: #fff;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */