@import 'config';
@import 'fonts';
@import 'media';

/* ------------navbar------------- */

.nav {
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 9vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
  .nav-menu {
    justify-content: space-between;
    .nav-brand {
      a {
        font-size: 1.9rem;
        padding: 1rem 0;
        display: block;
        font-family: $Lexend;
      }
    }
    .toggle-collapse {
      position: absolute;
      top: 0%;
      width: 90%;
      cursor: pointer;
      display: none;
      .toggle-icons {
        display: flex;
        justify-content: flex-end;
        padding: 1.8rem 0;
        i {
          font-size: 1.4rem;
          color: $text-grey;
        }
      }
    } 
    .nav-items {
      display: flex;
      margin-top: 10px;
      .nav-link {
        padding: 1.3rem 1rem;
        font-size: 1.3rem;
        position: relative;
        font-family: $Abel;
        transition: .2s;
        &:hover {
          background: $midnight;
          a {
            color: $white;
          }
        }
      }
    }
    .social {
      padding: 1.4rem 0;
      i {
        padding: 0.2em;
        transition: .2s;
        &:hover {
          color: $icon-hover;
        }
      }
    }
  }
}

/* ------------main------------- */

/* ------------Section:site-title------------- */
.site-title {
  background: url('../../img/Background-image.png') no-repeat top;
  background-size: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  .site-backgound {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    color: $white;
    h1, h3 {
      margin: .3rem;
    }
    .btn {
      margin: 1.8rem;
      background: $sky;
      &:hover {
        background: transparent;
        border: 1px solid $white;
        color: $white;
      }
    }
    
  }
}

/* ------------Section:blog------------- */
.blog {
  background: url('../../img/Abract01.png') no-repeat right;
  height: 100vh;
  width: 100%;
  margin-top: -4rem;
  background-size: 55%;
  .container { 
    width: 85%;
    margin: auto;
    .blog-post {
      padding-top: 18vh;
      .blog-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin: 3rem 4rem;
        box-shadow: 0 15px 20px rgba(0,0,0,0.2);
        img {
          max-height: 260px;
          image-resolution: cover;
        }
        .blog-title {
          padding: 2rem 0;
          h3 {
            margin-bottom: 1rem;
          }
          .btn-blog {
            padding: 0.7rem 2rem;
            background: $sky;
            margin: 0.5rem;
            outline: none;
          }
          span {
            display: block;
          }
        }
      }
    }
    .owl-nav {
      position: absolute;
      top: 10vh;
      margin: 0 auto;
      width: 100%;
      .owl-prev {
        .owl-nav-prev {
          color: $text-grey;
          background: transparent;
          font-size: 2rem;
        }
      }
      .owl-next {
        .owl-nav-next {
          color: $text-grey;
          background: transparent;
          font-size: 2rem;
        }
      }
    }
    .owl-theme .owl-nav {
      [class*='owl-'] {
        outline: none;
        &:hover {
          background: transparent;
          color: $midnight;
        }
      }
    }
  }
}

/* -------Main Content-------- */

/* ------------Section:site-content------------- */

.container { 
  width: 82%;
  margin: auto;
  .site-content {
    display: grid;
    grid-template-columns: 60% 30%;
    .post-content {
        width: 97%;
        margin: .7rem auto;
        .post-image, .post-title {
          padding: 1rem 2rem;
          position: relative;
        }
        .post-image {
          div {
            overflow: hidden;
            .img {
              width: 100%;
              transition: all 1s ease;
              &:hover {
                transform: scale(1.3);
              }
            }
          }
          .post-info {
            background: $sky;
            padding: 1rem;
            position: absolute;
            bottom: 0;
            left: 17vw;
            border-radius: 3rem;
            span {
              margin: 0 .5rem;
            }
          }
        }
        .post-title {
          a {
            font-family: $Anton;
            font-size: 1.5rem;
          }
          p {
            margin-top: 1rem;
          }
          .post-btn {
            margin-top: 1rem;
            border-radius: 0;
            padding: 0.7rem 1.5rem;
            background: $sky;
            transition: .2s;
          }
        } 
      }
      .pagination {
        justify-content: center;
        color: $text-grey;
        margin: 3rem 0;
        a {
          padding: 0.6rem 0.9rem;
          border-radius: 2rem;
          margin: 0 .3rem;
          font-family: $Lexend;
        }
        .page {
          background: $text-grey;
          color: $white;
        }
      }
    .sidebar {
      padding-top: 2rem;
      .category {
        &-list {
          font-family: $Livvic;
          padding-left: 3rem;
          padding-top: 1rem;
        }
        .list-items {
          background: $sky;
          padding: 0.6rem 1.1rem;
          margin: 0.8rem 0rem;
          border-radius: 3rem;
          width: 70%;
          display: flex;
          justify-content: space-between;
          a {
            color: black;
          }
        }
      }
      .popular-posts {
        h2 {
          padding-top: 8rem;
        }
        .post-content {
          padding: 1rem 1rem;
          .post-image {
            .post-info {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              padding: 0.4rem .1rem;
              bottom: 0rem;
              left: 1.5rem;
              border-radius: 0rem;
              background: $white;
            }
          }
          .post-title {
            a {
              font-size: 1rem;
            }
          }
        }
      }
      .newsletter {
        padding-top: 3rem;
        .form-element {
          margin-top: 1.5rem;
          padding: 0.5rem 2.5rem;
          margin-left: 1rem;
          .input-element {
            width: 80%;
            height: 3rem;
            padding: 0.3rem 0.7rem;
            font-family: $Lexend;
            font-size: 1.1rem;
          }
          .form-btn {
            width: 80%;
            border-radius: 0;
            padding: 0.8rem 30%;
            margin: 1rem 0;
            background: $sky;

          }
        }
      }
      .popular-tags {
        padding: 4rem 0;
        .tags {
          margin-top: 1.5rem;
          width: 80%;
          margin-left: 1rem;
          .tag {
            background: $sky;
            padding: 0.6rem 1.3rem;
            border-radius: 3rem;
            margin: 0.6rem 0.6rem;
          }
        }
      }
    }
  }
}

/* -------Footer-------- */

.footer {
  height: 100%;
  background: $bg-color;
  position: relative;
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    h2 {
      color: $white;
    }
    div {
      flex-grow: 1;
      flex-basis: 0;
      padding: 3rem 0.9rem;
    }
    p {
      margin-top: 1rem;
    }
    .about-us {

    }
    .newsletter {
      .form-element {
        display: inline-block;
        padding: 0;
        margin-top: 1rem;
        input {
          padding: 0.5rem 0.7rem;
          border: none;
          background: black;
          color: $white;
          font-family: $Josefin;
          font-size: 1rem;
          width: 74%;
          outline: none;
        }
        span {
            background: $sky;
            padding: 0.6rem .7rem 0.5rem .7rem;
            margin-bottom: 1px;
            cursor: pointer;
          }
      }
    }
    .instagram {
      .instagram-imgs {
        margin-top: 1rem;
        padding: 0;
        .flex-row {
          padding: 0;
          img {
            display: inline-block;
            width: 25%;
            height: 50%;
            margin: 0.3rem 0.4rem;
          }
        }
      }
    }
    .follow {
      div {
        padding: 0;
        margin-top: 1rem;
        i {
          color: $white;
          padding: 0 0.4rem;
          transition: .2s;
          &:hover {
            color: $icon-hover;
          }
        }
      }
    }
  }
  .rights {
    padding-bottom: 1rem;
    justify-content: center;
    font-family: $Lexend;
    h4 {
      a {
        color: $white;
        transition: .2s;
        &:hover {
          color: $icon-hover;
        }
      }
    }
  }
  .move-up {
    position: absolute;
    right: 8%;
    top: 50%;
    span {
      color: $midnight;
      transition: .2s;
      &:hover {
        color: $white;
        cursor: pointer;
      }
    }
  }
}
